@import '~bootstrap/scss/bootstrap';

.game-board{
    background-color: rgb(192, 229, 241);

    .square{
        display: flex;
        height: 120px;
        background-color: white;
        border: 5px solid rgb(192, 229, 241);
        justify-content: center;
        align-items: center;
    }

    .X{
        font-size: 30px;
        color: red;
        background-image: url('theClose.png');
        background-repeat: no-repeat;
    }

    .O{
        font-size: 30px;
        color: black;
        background-image: url('dot32.png');
        background-repeat: no-repeat;
        width: 70%;
    }
}

.master-image{
    background-color: rgb(148, 189, 189);
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}
.btn-create-account, .btn-login-account{
    background-color: #55757a;
    border-color: none;
    width: 100%;
}
.btn-new-game{
    border-color: none;
    width: 200px;
}

.btn-reset-game, .btn-change-password{
    background-color: #55757a;
    border-color: none;
    width: 200px;
}

.create-account-message, .sign-in-message {
    font-weight: 600;
    text-align: center;
}
.col-size{
    min-height: 480px;
}

.view-header-image{
    background: url('./image-game.jpg');
    min-height: 30vh;
    background-position: center;
    background-repeat: none ;
    background-size: cover;
}
#logo{
    width: 40px;
    height: 40px;
    image-rendering: auto;
}

.navbar-inner{
    background:transparent;
}

li.nav-item > a:hover{

    background-color: #f0e0f530;
    text-decoration: underline;
}

