@import '~bootstrap/scss/bootstrap';

.game-board{
    background-color: rgb(192, 229, 241);

    .square{
        display: flex;
        height: 120px;
        background-color: white;
        border: 5px solid rgb(192, 229, 241);
        justify-content: center;
        align-items: center;
    }

    .X{
        font-size: 30px;
        color: red;
        background-image: url('theClose.png');
        background-repeat: no-repeat;
    }

    .O{
        font-size: 30px;
        color: black;
        background-image: url('dot32.png');
        background-repeat: no-repeat;
        width: 70%;
    }
}
